.cabecalho {
  background-color: #7C9885;
  box-shadow: 0 0 10px 3px #033F63;
  padding: 15px 0;
  text-align: end;
}

.cabecalho__link {
  color: #033F63;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 15px;
  text-decoration: none;
}

.cabecalho__link:hover {
  color: black;
}

.ativo {
  display: none;
}
