.formulario {
  align-items: center;
  background-color: #7C9885;
  box-shadow: 0 0 20px 3px #033F63;
  display: flex;
  flex-direction: column;
  left: 50%;
  margin: 10px 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
}

.formulario__titulo {
  font-size: 25px;
  font-weight: 700;
  margin: 20px 0;
}

.formulario__destaque {
  color: #033F63;
}

.formulario__tituloInput, .formulario__textoInput {
  background-color: black;
  border: 1px solid #033F63;
  border-radius: 3px;
  color: #7C9885;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  height: 30px;
  margin-bottom: 15px;
  text-align: center;
  width: 500px;
}

.formulario__tituloInput:focus, .formulario__textoInput:focus {
  outline: none;
}

.formulario__textoInput {
  height: 100px;
  padding-left: 10px;
  padding-top: 5px;
  text-align: justify;
}

.formulario__btn {
  background-color: #033F63;
  border-radius: 3px;
  color: black;
  font-weight: 600;
  height: 30px;
  text-transform: uppercase;
  width: 250px;
}

.formulario__btn:hover {
  cursor: pointer;
  font-size: 14px;
}
